body {
  color: white
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#body {
  margin: 0;
  padding: 0;
  display: flex;
    justify-content: center;
    background-image: url("https://media.giphy.com/media/9tA6H1madRvUc/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}
.ui.form{
  padding:15px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: max-content;
  
}
div#app {
  background: rgba(0,0,0,0.7);
  align-self: center;
  border-radius: 15px;
  border: 1px solid white;
  -moz-outline-radius: 15px;
}
h1{ 
  text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  text-align: center;
  border-bottom: 2px solid white;
}
h2 {
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid white; 
  text-align: center;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  text-align: center;
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}