body {
  color: white
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#body {
  margin: 0;
  padding: 0;
  display: flex;
    justify-content: center;
    background-image: url("https://media.giphy.com/media/9tA6H1madRvUc/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}
.ui.form{
  padding:15px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: max-content;
  
}
div#app {
  background: rgba(0,0,0,0.7);
  align-self: center;
  border-radius: 15px;
  border: 1px solid white;
  -moz-outline-radius: 15px;
}
h1{
  text-align: center;
  border-bottom: 1px solid white;
}